<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>AdoptionTree - New Adoption</title>
</head>

<body>
    <h3>Dear <%= user.firstName %>,</h3>

    <p>
        You have successfully purchased a plan on the <%= platform =%> scheme.
    </p>

    <p>
        <strong>Start Date:</strong> <%= startDate %> <br>
        <strong>End Date:</strong> <%= endDate %> <br>
    </p>

    <p>
        Regards, <br>
        <%= platform =%> Adoption Tree
    </p>
</body>

</html>